
/* */

/* Navigation bar */
.logo{
    font-size:35px;
    color: #3A5A7F;	
  	text-decoration=none;
  	font-family: 'Shadows Into Light', cursive;
  	font-weight:bold;
}
.logo:hover{
    color: #3A5A7F;	
}
.nav-custom a{
    color: #3A5A7F;	
}
.nav-custom a:hover{
    color: #3A5A7F;	
}
.navbar-custom{
	margin-top:10px;
	font-family: 'Rajdhani', sans-serif;
	font-size:15px;
	font-weight:bold;
}

/* home search bar */
#search-header{
  color: #3A5A7F; 
  font-family: 'Shadows Into Light', cursive;
  font-weight:bold;
}
#paragraph-header{
  font-family: 'Rajdhani', sans-serif;
  font-weight:bold;
  margin-top: 20px;
}

/* categories displayed in home */
#categories-content{
  font-family: 'Rajdhani', sans-serif;
  font-weight:bold;
  margin-top: 50px;
  width:80%;
}
#categories-row{
  margin-top: 50px;
}


/* vertical navbar */

body {
    
}

.sidenav {
    height: 100%;
    width: 160px;
    position: absolute;
    margin-top: 400px;
    z-index: 1;
    top: 0;
    left: 0;
    font-family: 'Rajdhani', sans-serif;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #3A5A7F; 
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/* vertical navbar end */

/* product lists */

  /* images */
  .thumb-prod-list{
    width: auto;
    overflow: hidden;  }

  .products-content{
    width: 80%;
  }


/* rating stars */
.checked {
    color: orange;
}

.fa{
  font-size: 30px;
}

.section-title{
    font-family:'Rajdhani', sans-serif;
    font-weight:bold;
}

.well{
  background: #fefefe;
}

.thumbnail{
  min-height: 150px;
  max-height: 150px;
}

#single-prod{
  margin-top: 30px;
}

#prod-title{
  min-height: 40px;
}
