
/* */

/* Navigation bar */
.logo{
    font-size:35px;
    color: #3A5A7F;	
  	text-decoration=none;
  	font-family: 'Shadows Into Light', cursive;
  	font-weight:bold;
}
.logo:hover{
    color: #3A5A7F;	
}
.nav-custom a{
    color: #3A5A7F;	
}
.nav-custom a:hover{
    color: #3A5A7F;	
}
.navbar-custom{
	margin-top:10px;
	font-family: 'Rajdhani', sans-serif;
	font-size:15px;
	font-weight:bold;
}

/* home search bar */
#search-header{
  color: #3A5A7F; 
  font-family: 'Shadows Into Light', cursive;
  font-weight:bold;
}
#paragraph-header{
  font-family: 'Rajdhani', sans-serif;
  font-weight:bold;
  margin-top: 20px;
}

/* categories displayed in home */
#categories-content{
  font-family: 'Rajdhani', sans-serif;
  font-weight:bold;
  margin-top: 50px;
  width:80%;
}
#categories-row{
  margin-top: 50px;
}


/* Filters side menu*/
.vertical-menu {
    width: 200px;
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  font-size: 20px;
}

.vertical-menu a {
    background-color: #fff;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    margin-left: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-weight:bold;
}

.vertical-menu a:hover {
    background-color: #3A5A7F;
    color: white;
}

.vertical-menu a.active {
    background-color: #3A5A7F;
    color: white;
}

/* product lists */

  /* images */
  .thumb-prod-list{
    width: 200px;
    height: 200px;
    overflow: hidden;  }

  .products-content{
    
    
    
    width: 80%;
  }
